@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}







<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="about-info">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                        <h4>Expertos en diferentes áreas de la medicina veterinaria</h4>
                        <h2>Contamos con el mejor equipo médico para tu mascota</h2>
                    </div>

                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <p>En Pet Path sabemos la importancia que tiene la salud y el bienestar de tu mascota. Es por eso por lo que estamos comprometidos en ofrecerte los mejores tratamientos y cuidados veterinarios, con la más alta tecnología, de la mano de nuestro equipo conformado por los mejores especialistas.</p>
                        <p>Brindar el mejor trato a las familias que confían en nosotros ayudando a la mejora de sus mascotas, es nuestra razón de ser.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="wow fadeInUp about-image" data-wow-delay="0.4s">
                    <img src="~/images/image -About2.png" class="img-responsive" style="" alt="">
                </div>
            </div>

        </div>
    </div>
</section>


<!-- contact -->
<div>
    <section id="contact" data-stellar-background-ratio="0.5">

        <!-- contact form -->
        <form action="#" method="post" class="wow fadeinup" id="contact-form" role="form" data-wow-delay="0.8s">

            <!-- if mail sent successful  // connect this with custom js -->
            <h6 class="text-success">your message has been sent successfully.</h6>

            <!-- if mail not sent -->
            <h6 class="text-danger">e-mail must be valid and message must be longer than 1 character.</h6>

            <div class="col-md-6 col-sm-6">
                <input type="text" class="form-control" id="cf-name" name="name" placeholder="full name">
            </div>

            <div class="col-md-6 col-sm-6">
                <input type="email" class="form-control" id="cf-email" name="email" placeholder="email address">
            </div>

            <div class="col-md-12 col-sm-12">
                <input type="text" class="form-control" id="cf-subject" name="subject" placeholder="subject">

                <textarea class="form-control" rows="6" id="cf-message" name="message" placeholder="tell about your project"></textarea>

                <button type="submit" class="form-control" id="cf-submit" name="submit">send message</button>
            </div>
        </form>

    </section>
</div>



