@inject IConfiguration Configuration
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #contact-form {
        margin-top: 13px;
        width: 700px;
    }

</style>
<section id="contact" data-stellar-background-ratio="0.5" style="margin-top:43px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
             
                
               <iframe src="@Configuration.GetValue(typeof(String), "Website:UbicacionHosp")"
                    width="650" height="550" style="border:0; border-radius:10px; box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h4>Hospital Veterinario Pet Path</h4>
                <p>Av. Thiers 195-Local 3, Anzures, Miguel Hidalgo, 11590 Ciudad de México, CDMX</p>
                <div class="social-icons">



                    <ul class="wow fadeInUp social-icon text-center" data-wow-delay="0.4s">
                        <li><a href="@Configuration.GetValue(typeof(String), "Website:Facebook")" target="_blank" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="@Configuration.GetValue(typeof(String), "Website:Instagram")" target="_blank" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-google"></a></li>
                    </ul>

                </div>
            </div>


            <div class="col-6">
                <h2 class="section-title text-center" style="">Contáctanos</h2>
                <form action="#" method="post" class="form-horizontal wow fadeInUp" id="contact-form" role="form" data-wow-delay="0.8s">
                    <!-- código del formulario -->
                    <div class="alert alert-success alert-dismissible fade in" role="alert" style="display: none;" id="success-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Gracias!</strong> Tu mensaje nos llego con exito.
                    </div>

                    <!-- IF MAIL NOT SENT -->
                    <div class="alert alert-danger alert-dismissible fade in" role="alert" style="display: none;" id="error-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Error!</strong> E-mail must be valid and message must be longer than 1 character.
                    </div>

                    <div class="form-group">
                        <label for="input-name" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-name" name="name" placeholder="Nombre" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-email" class="col-sm-2 control-label">Correo</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="input-email" name="email" placeholder="miMascota@gmail.com" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-message" class="col-sm-2 control-label">Mensaje</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="6" id="input-message" name="message" placeholder="Cuentanos como te ayudamos." required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" id="cf-submit" name="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
  </section>
                       






