@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="esd" content="WebApp.Mvc.Net7">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  

</head>


<body>

    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="row">

            <div class="owl-carousel owl-theme">
                <div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Eatery Cafe &amp; Restaurant</h3>
                                <h1>Our mission is to provide an unforgettable experience</h1>
                                <a href="#team" class="section-btn btn btn-default smoothScroll">Meet our chef</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Your Perfect Breakfast</h3>
                                <h1>The best dinning quality can be here too!</h1>
                                <a href="#menu" class="section-btn btn btn-default smoothScroll">Discover menu</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>New Restaurant in Town</h3>
                                <h1>Enjoy our special menus every Sunday and Friday</h1>
                                <a href="#contact" class="section-btn btn btn-default smoothScroll">Reservation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!-- ABOUT -->
    <section id="about" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                            <h4>Expertos en diferentes áreas de la medicina veterinaria</h4>
                            <h2>Contamos con el mejor equipo médico para tu mascota</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>En Pet Path sabemos la importancia que tiene la salud y el bienestar de tu mascota. Es por eso por lo que estamos comprometidos en ofrecerte los mejores tratamientos y cuidados veterinarios, con la más alta tecnología, de la mano de nuestro equipo conformado por los mejores especialistas.</p>
                            <p>Brindar el mejor trato a las familias que confían en nosotros ayudando a la mejora de sus mascotas, es nuestra razón de ser.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="wow fadeInUp about-image" data-wow-delay="0.4s">
                        <img src="~/images/image -About2.png" class="img-responsive" style="" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Galeria-->

    <section id="menu" data-stellar-background-ratio="0.5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Nuestros Servicios</h2>
                        <h4></h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="~/images/Urg.png" class="image-popup" title="American Breakfast">
                            <img src="~/images/Urg.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Urgencias 24/7</h3>
                                    <p></p>
                                </div>
                                <div class="menu-price">
                                    <span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="~/images/CerSal.png" class="image-popup" title="Self-made Salad">
                            <img src="~/images/CerSal.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Hospitalización y cirugías</h3>
                                    <p></p>
                                </div>
                                <div class="menu-price">
                                    <span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="~/images/Cesp.png" class="image-popup" title="Chinese Noodle">
                            <img src="~/images/Cesp.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Consultas personalizadas</h3>
                                    <p></p>
                                </div>
                                <div class="menu-price">
                                    <span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="~/images/Lap.png" class="image-popup" title="Rice Soup">
                            <img src="~/images/Lap.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Laboratorio</h3>
                                    <p></p>
                                </div>
                                <div class="menu-price">
                                    <span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="~/images/Diag.png" class="image-popup" title="Project title">
                            <img src="~/images/Diag.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Certificado de Salud y viaje</h3>
                                    <p></p>
                                </div>
                                <div class="menu-price">
                                    <span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU THUMB -->
                    <div class="menu-thumb">
                        <a href="~/images/HOSP.png" class="image-popup" title="Project title">
                            <img src="~/images/HOSP.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Grooming, veta de alimento y más</h3>
                                    <p></p>
                                </div>
                                <div class="menu-price">
                                    <span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!-- TEAM -->

    <section id="team" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Nuestros médicos especialistas</h2>
                        <h4>Es grato para <a>Pet Path</a> presentarles a nuestro cuerpo directivo que es conformado por:</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="~/images/Doc2.png" class="img-responsive" alt="">
                        <div class="team-hover">
                            <div class="team-item">
                                <h4>Con 20 años de experiencia especializada en la clínica y cirugía de tejidos blandos, endoscopia y manejo avanzado de heridas para pequeñas especies</h4>
                                <ul class="social-icon">
                                    <li><a href="#"></a></li>
                                    <li><a href="#" class="fa fa-google"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>MVZ Dipl. Francisco Javier Mejía Ceballos</h3>
                        <p>Cuerpo Directivo</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <img src="~/images/Doc1.png" class="img-responsive" alt="">
                        <div class="team-hover">
                            <div class="team-item">
                                <h4>Especialista en Dermatología, Cirugía, Rehabilitación, Medicina Interna y manejo de urgencias en pequeñas especies.</h4>
                                <ul class="social-icon">
                                    <li><a href="#"></a></li>
                                    <li><a href="#" class="fa fa-google"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>Esp. Angelina Mata Castrejón</h3>
                        <p>Cuerpo Directivo</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <img src="~/images/Doc3.png" class="img-responsive" alt="">
                        <div class="team-hover">
                            <div class="team-item">
                                <h4>Especialista en Medicina y Cirugía en perros y gatos por la Universidad Nacional Autónoma de México. Con experiencia en temas de Traumatología, Ortopedia y Neurocirugía</h4>
                                <ul class="social-icon">
                                    <li><a href="#"></a></li>
                                    <li><a href="#" class="fa fa-google"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>MVZ Esp. Armando Amador Morga</h3>
                        <p>Cuerpo Directivo</p>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <!-- TESTIMONIAL -->
    <section id="testimonial" data-stellar-background-ratio="1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Testimoniales</h2>
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <p>“Para mí el mejor hospital veterinario de la CDMX. Mi gata sobrevivió a la micoplasma, gracias a PetPath​” </p>
                            <div class="tst-author">
                                <h4>Natalia G.</h4>
                            </div>
                        </div>

                        <div class="item">
                            <p>“Excelente ubicación, como hospital nuevo y decidimos probar, ¡nos llevamos una grata sorpresa! Tienen todos los equipos, buenos precios y nos trataron de maravilla. Nos encantó el servicio. Sin duda se convirtió en nuestro hospital de cabecera”.</p>
                            <div class="tst-author">
                                <h4>Mariana M.</h4>
                            </div>
                        </div>

                        <div class="item">
                            <p>“Servicio personalizado 100% para mi y mi mascota Mía, en todos los servicios que nos han brindado, consultas, vacunas, cartas de autorización para viajar, pero sobre todo en su cirugía, en todo tiempo estuve informado de su procedimiento quirúrgico, salimos muy satisfechos”.</p>
                            <div class="tst-author">
                                <h4>Miguel Ángel Margain</h4>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

 
</body>



</html>