@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Servicios-->

<section id="menu" data-stellar-background-ratio="0.5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2>Nuestros Servicios</h2>
                    <h4></h4>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="~/images/Urg.png" class="image-popup" title="American Breakfast">
                        <img src="~/images/Urg.png" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Urgencias 24/7</h3>
                                <p></p>
                            </div>
                            <div class="menu-price">
                                <span></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="~/images/CerSal.png" class="image-popup" title="Self-made Salad">
                        <img src="~/images/CerSal.png" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Hospitalización y cirugías</h3>
                                <p></p>
                            </div>
                            <div class="menu-price">
                                <span></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="~/images/Cesp.png" class="image-popup" title="Chinese Noodle">
                        <img src="~/images/Cesp.png" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Consultas personalizadas</h3>
                                <p></p>
                            </div>
                            <div class="menu-price">
                                <span></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="~/images/Lap.png" class="image-popup" title="Rice Soup">
                        <img src="~/images/Lap.png" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Laboratorio</h3>
                                <p></p>
                            </div>
                            <div class="menu-price">
                                <span></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="~/images/Diag.png" class="image-popup" title="Project title">
                        <img src="~/images/Diag.png" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Certificado de Salud y viaje</h3>
                                <p></p>
                            </div>
                            <div class="menu-price">
                                <span></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="~/images/HOSP.png" class="image-popup" title="Project title">
                        <img src="~/images/HOSP.png" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Grooming, veta de alimento y más</h3>
                                <p></p>
                            </div>
                            <div class="menu-price">
                                <span></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>
